<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid me-auto">
                <span class="navbar-brand">
                    <strong id="headerUsername"></strong>
                    with roles:

                    <span id="headerRoles">
                    </span>
                </span>
            <span>
                    <form th:action="@{/logout}" th:method="POST">
                    <input type="submit" class="btn btn-dark float-right" value="Logout"/>
                    </form>
                </span>
        </div>
    </nav>
</header>
<body>

<div class="row">
    <div class="col-sm-2">
        <br>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#admin-panel" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#user-panel" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
    <div style="min-height: 100vh" class="col-sm-10 bg-light">
        <div  style="justify-content: center" class="container">
            <div class="container">

        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <br>
        <h2>Admin Panel</h2>
        <nav>
            <!-- Навигация вкладки -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="allUsersTableLink" data-toggle="tab" href="#nav-allUsers" role="tab" aria-controls="home" aria-selected="true">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#nav-addNew" role="tab" aria-controls="profile" aria-selected="false">New user</a>
                </li>
            </ul>
        </nav>
        <!-- Вкладка панели -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-allUsers" role="tabpanel" aria-labelledby="home-tab">

            <div class="card">
                <div class="card-header">All Users</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="AllUsersTable">
                    </tbody>
                </table>
            </div>
            </div>
<!--            Add new user-->
            <div class="tab-pane fade" id="nav-addNew" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card">
                    <div class="card-header">Add new user</div>
                    <div class="card-body">
                        <div class="col-md-4 mx-auto">
                            <form id="newUserForm">
                                <div class="form-group text-center">
                                    <label for="new-name" class="form-label"><strong>Name</strong></label>
                                    <input type="text" class="form-control" name="userName" id="new-name"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="new-password"><strong>Password</strong> </label>
                                    <input type="password" class="form-control" name="password"
                                           id="new-password"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="new-lastname"><strong>Last name</strong> </label>
                                    <input type="text" class="form-control" name="lastName"
                                           id="new-lastname"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="new-age" class="form-label"><strong>Age</strong></label>
                                    <input type="number" class="form-control" name="age" id="new-age"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="new-email" class="form-label"><strong>Email</strong></label>
                                    <input type="email" class="form-control" id="new-email"
                                           placeholder="name@example.com" name="email">
                                </div>
                                <div class="form-group text-center">
                                    <label for="new-roles"><strong>Role</strong></label>
                                    <select name="roles" class="form-control"
                                            id="new-roles"
                                            multiple="multiple" size="2">

                                    </select>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" value="Save" class="btn btn-success">Add new user</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            </div>
            <!--            Modal edit-->
            <div class="editForm">
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form id="formEditUser">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="idEdit" class="col-form-label">ID</label>
                                    <input readonly type="text" class="form-control" id="idEdit" name="id"/>
                                </div>
                            <div class="form-group">
                                <label for="nameEdit" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="nameEdit" name="userName"/>
                            </div>
                            <div class="form-group">
                                <label for="lastNameEdit" class="col-form-label">Last name</label>
                                <input type="text" class="form-control" id="lastNameEdit" name="lastName" />
                            </div>
                            <div class="form-group">
                                <label for="ageEdit" class="col-form-label">Age</label>
                                <input type="number" class="form-control" id="ageEdit" name="age" />
                            </div>
                            <div class="form-group">
                                <label for="emailEdit" class="col-form-label">Email</label>
                                <input type="text" class="form-control" id="emailEdit" name="email" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="passwordEdit" class="col-form-label">Password</label>
                                <input type="text" class="form-control" id="passwordEdit" name="password" />
                            </div>
                            <div class="form-group text-center">
                                <label for="rolesEditUser"><strong>Role</strong></label>
                                <select class="form-control"
                                        id="rolesEditUser"
                                        multiple="multiple" name="roles" size="2">
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editFormCloseButton">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
<!--        Start of Delete form-->
        <div class="deleteForm">
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form id="formDeleteUser">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="idDel" class="col-form-label">ID</label>
                                    <input type="text" class="form-control" id="idDel" name="id"/>
                                </div>
                                <div class="form-group">
                                    <label for="nameDel" class="col-form-label">Name</label>
                                    <input type="text" class="form-control" id="nameDel" name="userName"/>
                                </div>
                                <div class="form-group">
                                    <label for="lastNameDel" class="col-form-label">Last name</label>
                                    <input type="text" class="form-control" id="lastNameDel" name="lastName" />
                                </div>
                                <div class="form-group">
                                    <label for="ageDel" class="col-form-label">Age</label>
                                    <input type="text" class="form-control" id="ageDel" name="age" />
                                </div>
                                <div class="form-group">
                                    <label for="emailDel" class="col-form-label">Email</label>
                                    <input type="text" class="form-control" id="emailDel" name="email" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="passwordDel" class="col-form-label">Password</label>
                                    <input type="text" class="form-control" id="passwordDel" name="password" />
                                </div>
                                <div class="form-group text-center">

                                    <label for="rolesDeleteUser"><strong>Role</strong></label>
                                    <select class="form-control" name="roles"
                                            id="rolesDeleteUser"
                                            multiple="multiple" size="2" disabled >

                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteFormCloseButton">Close</button>
                                <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<!--        End of Delete Form-->
        </div>
<!--            End of the admin-panel-->
<!--            Start of the user-panel-->
            <div class="tab-pane fade" id="user-panel" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <br>
                <h2>User information page</h2>
                <div class="card">
                    <div class="card-header">About user</div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>

                        </tr>
                        </thead>
                        <tbody id="userPageBody">

                        </tbody>
                    </table>

                </div>


            </div>
<!--            End od the user-panel-->

        </div>
    </div>
</div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8= sha256-T+aPohYXbm0fRYDpJLr+zJ9RmYTswGsahAoIsNiMld4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript" src="../static/admin-panel.js" th:src="@{/admin-panel.js}"></script>




</body>
</html>